.vidget {
  position: relative;
  background-color: var(--main-white);
  max-width: 137px;
  min-height: 72px;
  margin-top: 4px;
  display: flex;
  align-items: center;
  border-radius: 15px;

  padding-left: 20px;
  gap: 8px;
}

.btnSettings {
  display: flex;

  border: none;

  padding-bottom: 30px;
  background-color: transparent;
  color: var(--main);
}

.btnSettings:hover {
  color: var(--grey-hover-focus);
}

.btnLogOut {
  display: flex;
  position: absolute;
  padding-top: 14px;
  border: none;
  color: var(--main);
  background-color: transparent;
}

.btnLogOut:hover {
  color: var(--grey-hover-focus);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}